.badge:hover {
  cursor: pointer;
  background-color: #0275D8;
}

.inputTag:hover {
  background-color: #D9534F;
}

.tag-holder:hover {
  cursor: text;
}

.tag-entry {
  display: inline-block;
}

.tag-entry:focus {
  outline: none;
}

@-webkit-keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;} 
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}